*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
.main{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle1{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 20px;
    animation: circles1 2s ease infinite;
}
.circle3{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 20px;
    animation: circles2 2s ease infinite;
}
.circle2{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
@keyframes circles1{
    0%{transform: rotate(0deg); transform-origin: 100px;}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg); transform-origin: 100px;}
}

@keyframes circles2{
    0%{transform: rotate(0deg); transform-origin: -50px;}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg); transform-origin: -50px;}
}
